{% extends "lbworkflow/wf_base_detail.html" %}

{% block flow_help %}
  {{ for_test }}
{% endblock %}

{% block right_side_tab_base_ctx %}
{% include "lbworkflow/inc_wf_status.html" %}
<table class="table table-bordered tb-detail no-margin">
  <tr>
    <th>Start on</th>
    <td>{{ object.start_on }}</td>
    <th>End on</th>
    <td>{{ object.end_on }}</td>
  </tr>
  <tr>
    <th>Days</th>
    <td>{{ object.leave_days }}</td>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>Actual start on</th>
    <td>{{ object.actual_start_on }}</td>
    <th>Actual end on</th>
    <td>{{ object.actual_end_on }}</td>
  </tr>
  <tr>
    <th>Days</th>
    <td>{{ object.actual_leave_days }}</td>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>Reason</th>
    <td colspan="3">
      {{ object.reason|linebreaks }}
    </td>
  </tr>
</table>
{% endblock %}
