[run]
branch = True
source = lbworkflow
omit =
        lbworkflow/tests/*
        */migrations/*

[report]
show_missing = True
skip_covered = True
omit =
        lbworkflow/tests/*
        */migrations/*

[html]
directory = coverage_html