include MANIFEST.in
include README.rst
recursive-include lbworkflow/static *
recursive-include lbworkflow/locale *
recursive-include lbworkflow/templates *
recursive-include lbworkflow/flowgen/app_template *
