[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-lb-workflow = {editable = true,path = "."}

[dev-packages]
coverage = "*"
flake8 = ">=2.0,<3.0"
isort = "*"
pre-commit = "*"
