[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-lb-workflow = {editable=true, extras=["options"], path = "."}

[dev-packages]
coverage = "*"
flake8 = "==3.7.9"
isort = "*"
pre-commit = "*"
black = "*"

[pipenv]
allow_prereleases = true
