{% extends "base_ext.html" %}

{% load lbworkflow_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block content_nav_l %}
    {{ transition.name }}
{% endblock %}

{% block head_ext %}
  <style>
    #id_comment {
      height: 80px;
    }
  </style>
{% endblock %}

{% block right_side %}
  <section class="content-header">
    {% include "incs/messages.html" %}
    <div class="right-btns">
    </div>
    <h1>
      Batch
      -
      {{ transition_name }}
    </h1>
  </section>
  <section class="content">
    <form action="" method="post" id="id-wf-form" role="form">
      <input type="hidden" name="do_submit" value="submit it">
      <div class="box form-horizontal {% block form_class %}{% endblock %}">
        <div class="box-header">
        </div>
        <div class="box-body">
          <div class="form-group">
            <label class="control-label col-md-2">
              Process
            </label>
            <div class="controls col-md-4" style="padding-top:7px">
              {% for o in task_list%}
                <input type="hidden" name="wi" value="{{ o.pk }}">
                <input type="hidden" name="pi" value="{{ o.instance.pk }}">
                {{ o.instance.no }} : {{ o.instance.summary }} <br>
              {% endfor %}
            </div>
          </div>
          {% crispy form %}
          {% block submit_btns %}
            <div class="form-group">
              <div class="col-xs-offset-2 col-xs-6">
                <button type="submit" class="btn btn-primary">
                  {{ transition_name }}
                </button>
                <button type="button" class="btn btn-default goback">Cancel</button>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
      {% block other_forms %}
      {% endblock %}
    </form>
  </section>
{% endblock %}

{% block footer_ext %}
  {{ block.super }}
  <script src="{% static 'blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
  <script src="{% static 'blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      initUploader($('#id_attachments'));
    });
  </script>
{% endblock %}
