Django>=1.10
django-compressor>=2.1.1
django-bower>=5.2.0
django-crispy-forms>=1.6
jsonfield>=1.0.1
pygraphviz>=1.3
xlsxwriter>=0.9.6
django-el-pagination>=3.0.1
django-lbutils>=1.0.3
django-lbattachment>=1.0.2
django-lb-adminlte>=0.9.4
jinja2>=2.9.6
django-impersonate
django-stronghold
